describe_A.csv
Means_ALL.csv
Means_ALL2.csv
Means_excel.xlsx
Temps.png
TempsA.png
TempsB.png
colors.py
colors.py:Zone.Identifier
dfs.xlsx
.ipynb_checkpoints/
.vscode/
Frequency_Polygon.png
../lectureA1/__pycache__/readPWIDS.cpython-38.pyc
../common_functions/__pycache__/
Boxplot_DirectionTrue.png
Boxplot_Temp.png
Boxplot_Windspeed.png
CDF.png
PDF_KDE_WindSpeed_A-E.png
PDF_Temp.png
PDF_Temperatures_A-E.png
PDF_Temps.png
PMF.png
PMF_Temps.png
Pearson_Corr.png
Plot_pearson.png
Plot_spearmann.png
Spearmann_Corr.png
dfs_CWS_P.xlsx
dfs_CWS_S.xlsx
dfs_Temp.xlsx
dfs_Temp_P.xlsx
dfs_Temp_P_corr_matrix.png
dfs_Temp_S.xlsx
dfs_WBGT.xlsx
dfs_WBGT_P.xlsx
dfs_WBGT_S.xlsx
dfs_windspeed.xlsx
'quit()'
'quit().pub'
