describe_A.csv
Means_ALL.csv
Means_ALL2.csv
Means_excel.xlsx
Temps.png
TempsA.png
TempsB.png
Temps_bin5.png
Temps_bin50.png
colors.py
colors.py:Zone.Identifier
dfs.xlsx
.ipynb_checkpoints/
.vscode/
Frequency_Polygon.png
Frequency_Polygon_Temperatures_A-E.png
readPWIDS.cpython-38.pyc
